:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --text-footer-color: rgba(255, 255, 255, 0.6);
  --font-icon-footer: rgba(255, 255, 255, 0.1);
  --text-white: #ffffff;

  --primary-bkg-color: #e5e5e5;
  --footer-bkg-color: #2f303a;
  --secondery-bkg-color: #f5f4fa;
  --font-bkg-color: #2f303a;
  --font-bkg-white-color: #ffffff;
  --font-icon: #afb1b8;
}
